<!DOCTYPE html>
<html>
<head>
    <!-- # Stylesheet -->
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Ratespiel</title>
</head>
<body>
    <div class="header">
        <div class="spieler">Spieler: {{username}}
            <form action="/logout">
                <input type="submit" value="Logout" class="logout"/>
            </form>
        </div>
        <h1 class="topheader">Ratespiel</h1>
    </div>
        
    <div class="box">
        
        {% if versuche %}
        {% block content4 %}
        <div>Bereits gebrauchte Versuche: {{versuche}}</div>
        {% endblock content4 %}
        {% endif %}

        <form action='' method='post'>
            <label for='content'>Gib eine Zahl zwischen 0 und 100:</label>
            <br>
            <input type='number' name='number' placeholder="0" min="0" max="100">
            <input type='submit' value='Bestätigen' class="button">
        </form>

        {% if richtig == True %}
        {% block content %}
        <div class="richtig">Richtig!</div>
    </div>
    <table class="greenTable">
        <thead>
        <tr>
            <th>Name</th>
            <th>Versuche</th>
        </tr>
        </thead>
        <tfoot>
            <tr>
            <td colspan="2">
            </td>
            </tr>
        </tfoot>
        <tbody>
            {% for row in highscore %}
                  <tr>
                      <td>{{row[0]}}</td>

                      <td>{{row[1]}}</td>

                      <!-- <td>{{row[2]}}</td> -->
                  </tr>
            {% endfor %}
        <tbody>
    {% endblock content %}
    {% endif %}

    {% if tiefer == True %}
    {% block content1 %}
    <div class="falsch">Tiefer als {{aktuelleZahl}}!</div>
    {% endblock content1 %}
    {% endif %}

    {% if hoeher == True %}
    {% block content3 %}
    <div class="falsch">Höher als {{aktuelleZahl}}!</div>
    {% endblock content3 %}
    {% endif %}

</body>
</html>